@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* header */
header {
  background-color: #1b72a5;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.header-container h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.header-container p {
  margin-bottom: 20px;
}

#bookForm .input-container {
  display: flex;
  gap: 20px;
}

#bookForm .input-container label {
  display: block;
}

#bookForm .input-container input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#bookForm button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2525cb;
  color: white;
  cursor: pointer;
}

header img {
  width: 400px;
}

/* main */
/* cari buku section */
#searchBook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

#searchBook input {
  width: 85%;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #2525cb;
  outline: none;
}

#searchBook button {
  width: 15%;
  padding: 5px 10px;
  background-color: #2525cb;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  border: 1px solid #2525cb;
}

#searchBook button i {
  display: inline;
}

/* rak buku section */
.bookshelf-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.bookshelf-container section {
  width: 50%;
  
}

.bookshelf-container section h2 {
  text-align: center;
  background-color: #1b72a5;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.book-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.book-item div button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  
}

.book-item div i {
  vertical-align: middle;
}

.book-item div button:nth-child(1) {
  background-color: #2525cb;
}

.book-item div button:nth-child(2) {
  background-color: red;
  margin-left: 5px;
}

.book-item div button:nth-child(3) {
  background-color: green;
  margin-left: 5px;
}


/* edit modal section */
.edit-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1b72a5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #2525cb;
  text-decoration: none;
  cursor: pointer;
}

#editForm .input-container {
  display: flex;
  gap: 20px;
}

#editForm .input-container label {
  display: block;
}

#editForm .input-container input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#editForm button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2525cb;
  color: white;
  cursor: pointer;
}

